<h2>Recipes</h2>
<ul>
  <% @recipes.each_with_index do |recipe, index| %>
    <li>
        <%= index %>
        <%= recipe.done? ? "[X]" : "[ ]"%>
        <%= recipe.name %>
        -
        <%= recipe.description %>
        <a href = "/recipes/done/<%= index %>"> done</a>
        <a href = "/recipes/<%= index %>"> delete</a>
    </li>
  <% end %>
</ul>
<a href = "/new"> create a new recipe</a>
<%# <%= link_to "create a new recipe", new_recipe %>
